{% extends "client/layout_client.html" %}
{% block body %}

        <div class="bg-light p-3">
            <h1>Les vetements</h1>
        </div>

        <div class="row">
                {% for vetement in vetements  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/vetement/details?id_vetement={{ vetement.id_vetement }}" >
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ vetement.nom_vetement }}</span><br>
                                    {{ vetement.prix_vetement }}
                                    €
                                </h3>
                                     {%  if vetement.image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ vetement.photo }}"  alt="image  de {{ vetement.nom_vetement }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ vetement.nom_vetement }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
{# #}                                {% if  vetement.stock is defined and vetement.stock != None %}
{# #}                                    {% if vetement.stock > 0 %}
                                        <form  action="/client/panier/add"  method="post" class="col-5">
                                            <input type="hidden" name="id_vetement" value="{{ vetement.id_vetement }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Ajouter</i>
                                            </button>
                                            <input type="number" id="input-{{ vetement.id_vetement }}" step="1" min="0" max="{{ vetement.stock }}" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                            </div>
                                        </form>
{# #}                                    {% endif %}
{# #}                                {% endif %}
                                     <div class="col-2 align-content-end">
                                    {% if vetement.liste_envie is defined %}
                                         {%if  vetement.liste_envie== 1%}
                                             <a href="/client/envie/add?id_vetement={{ vetement.id_vetement }}" style="text-decoration: none">💛</a>
                                         {% else %}
                                             <a href="/client/envie/add?id_vetement={{ vetement.id_vetement }}" style="text-decoration: none">🤍</a>
                                         {% endif %}
                                    {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            {% if vetement.stock is defined and vetement.stock != None %}
                                 {% if vetement.stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ vetement.stock }}</small>
                                 {% else %}
                                    <small class="text-muted">vetement  momentanément indisponible</small>
                                 {% endif %}
                                {% if vetement.nb_declinaison is defined and vetement.nb_declinaison != None %}
                                    ({{ vetement.nb_declinaison }} d.)
                                {% endif %}
                                <br>
                            {% endif %}
                            {% if vetement.nb_notes is defined %}
                                {% if vetement.nb_notes > 0 %}
                                 <a  href="/client/vetement/details?id_vetement={{ vetement.id_vetement }}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(vetement.moy_notes) }}({{ vetement.nb_notes }})</span>
                                 </a>
                                {% endif %}
                            {% endif %}
{#                            {% if vetement.nb_avis is defined %}#}
{#                                {% if vetement.nb_avis > 0 %}#}
{#                                 <a href="/client/vetement/details?id_vetement={{ vetement.id_vetement }}" >#}
{#                                    <span style="color: #3A7734">({{ vetement.nb_avis }} avis)</span>#}
{#                                 </a>#}
{#                                {% endif %}#}
{#                            {% endif %}#}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{#    {{ vetements | pprint }}#}
{% endblock %}