{% extends('layout.html') %}

{% block title %}
    <title>Commandes | Gaullois</title>
{% endblock %}

{% block body %}
    <main>
        <div class="command-container">
            {% if vetement_commandes != None %}
                <table class="width60p align-self-center">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantite</th>
                    <th>Prix</th>
                    <th>Prix total</th>
                </tr>
                </thead>
                <tbody>
                {% for vetement_commande in vetement_commandes %}
                    <tr>
                        <td>{{ vetement_commande.nom_vetement }} ({{ vetement_commande.libelle_taille }})</td>
                        <td>{{ vetement_commande.quantite }}</td>
                        <td>{{ vetement_commande.prix }}</td>
                        <td>{{ vetement_commande.prix_total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <span>Adresse Livraison : {{ commande_adresses.adresse_shipping.nom }} {{ commande_adresses.adresse_shipping.rue }} {{ commande_adresses.adresse_shipping.code_postal }} {{ commande_adresses.adresse_shipping.ville }}</span>
                <span>Adresse Payement : {{ commande_adresses.adresse_payment.nom }} {{ commande_adresses.adresse_payment.rue }} {{ commande_adresses.adresse_payment.code_postal }} {{ commande_adresses.adresse_payment.ville }}</span>

            {% endif %}
        </div>
        {% if commandes | length > 0 %}
            <div class="command-container">
                <table>
                    <thead>
                    <tr>
                        <th>Date de commande</th>
                        <th>Nombre de vetements</th>
                        <th>Coût total</th>
                        <th>Etat de la commande</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.date_achat }}</td>
                            <td>{{ commande.quantite }}</td>
                            <td>{{ commande.prix }}</td>
                            <td>{{ commande.libelle_etat }}</td>
                            <td class="command-button-container">
                                <a class="validate-button-white-outline"
                                   href="/client/commande/show?id_commande={{ commande.commande_id }}">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="command-container">
                <p class="align-self-center">Il n'y a pas de commande actuellement</p>
            </div>
        {% endif %}
    </main>
{% endblock %}