:root {
	/* Variables */
	--black: black;
	--white: white;
	--gold: rgb(178, 164, 56);
	--nav-height: 90px;
}

@font-face {
  font-family: 'The Seasons';
  src:
    url('../assets/fonts/Seasons.woff2') format('woff2'),;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('../assets/fonts/Nunito.woff2') format('woff2'),;
}

@font-face {
  font-family: 'EB Garamond';
  src:
    url('../assets/fonts/EBGaramond.woff2') format('woff2'),;
}

html,
body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	color: var(--black);
	text-decoration: none;
	padding: 22px 70px 18px;
	background-color: var(--white);
	font-size: 1.4rem;
	font-weight: bold;
	font-family: "The Seasons", serif;
	transition: 0.5s color;
}

.main-button:hover {
	color: var(--gold);
}

.log-button {
	background: whitesmoke;
	cursor: pointer;
	text-decoration: none;
	color: black;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 20);
	padding: 10px;
	margin: 10px;
}
.main-container {
    padding:10px;
    display: flex;
    width: calc(100% - 20px);
    height: 500px;
    justify-content: center;
    align-items: center;

}
.log-container {
    padding: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: fit-content;
    border: solid 2px var(--black);


}
.log-container input {
    padding: 3px 20px;
    margin: 10px;
}
.log-container input[type="submit"] {
    margin-top: 20%;
    border-radius: 20px;
    color: var(--black);
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,10);
    border : none;
    background-color: var(--gold);
    font-size: 1rem;
}
