.panier-main-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 60px;
    width: calc(100% - 120px);
}

.panier-main-container > h1 {
    line-height: 0.8;
}

.panier-articles {
    flex: 3;
}

.panier-paiement {
    flex: 2;
}

.panier-section-container {
    display: flex;
    gap: 20px;
}

.panier-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.panier-tile {
    display: flex;
    position: relative;
    gap: 10px;
}

.panier-img-container {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 200px;
    height: 200px;
}

.panier-img-container img {
    width: 100%;
}

.panier-info-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.panier-paiement-line {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: baseline;
    text-wrap: nowrap;
}

.paiement-total {
    font-weight: bold;
}

.panier-paiement-link {
    width: 100%;
    border-bottom: dotted 2px var(--black);
}

.panier-promo-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.panier-promo-container input {
    border-radius: 0;
    border: solid 1px var(--black);
    padding: 10px;
    width: 100%;
}

.panier-paiement form button {
    width: 100%;
}

.panier-item-delete {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    color: var(--black);
    transition: 0.3s color;
}

.panier-item-delete:hover {
    cursor: pointer;
    color: var(--delete);
}