.log-container {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.log-container form {
    padding: 20px 50px 50px 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: fit-content;
	background-color: var(--black);
}

.log-container input {
    padding: 3px 40px 3px 5px;
    margin: 10px;
}

.log-container label {
	color: var(--white);
}

.log-container .login-password-container {
	display: flex;
	flex-direction: column;
}

.log-container .login-password {
	position: relative;
}

.log-container .login-password button {
	position: absolute;
	border: none;
	background: none;
	font-size: 1.2rem;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

.log-container .login-password button:hover {
	cursor: pointer;
	color: var(--gold);
}

.log-container .validate-button-black {
    margin-top: 20%;
    color: var(--black);
    border : none;
    background-color: var(--white);
	padding: 10px 40px;
	font-weight: 500;
	font-family: "Playfair", sans-serif;
	transition: 0.5s color;
}

.log-container .validate-button-black:hover {
    color: var(--gold);
	cursor: pointer;
}

.log-container .forgot-password {
	margin-left: 10px;
	color: var(--white);
	font-size: 0.8rem;
	width: fit-content;
}

.log-container .log-sign-link {
	color: var(--black);
	margin-top: 25px;
}

.log-container .log-sign-link:hover {
    color: var(--gold);
}

.log-container p {
    color: white;
}