.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.red-text {
	color: red !important;
}

.no-link-style {
    color: white;
    text-decoration: none;
}

.no-link-style * {
    color: white;
    text-decoration: none;
}