/* navbar */

nav {
    position: fixed;
    z-index: var(--nav-zindex);
    top: 0;
    width: 100%;
}

.horizontal-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: var(--nav-zindex);
    width: calc(100% - 40px);
    background-color: var(--black);
    padding: 0px 20px;
    height: var(--nav-height);
}

.horizontal-nav .nav-burger-spacer {
    flex: 1;
    width: 30px;
}

.horizontal-nav .nav-logo {
    width: clamp(100px, calc(150px + 5rem), 400px);
}

.horizontal-nav .nav-misc-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.horizontal-nav .nav-misc-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.horizontal-nav .nav-misc-container .button-search-bar {
    background: none;
    border: none;
    color: var(--white);
}

.horizontal-nav .nav-misc-container .button-search-bar:hover {
    cursor: pointer;
}

.horizontal-nav .nav-misc-container * {
    font-size: 2rem;
    transition: 0.5s color;
    line-height: 1;
    height: fit-content;
    width: fit-content;
}

.horizontal-nav .nav-misc-container button:hover {
    color: var(--gold);
}

.horizontal-nav .nav-misc-container > a:hover {
    color: var(--gold);
}

.horizontal-nav .nav-misc-container .nav-link {
    color: var(--white);
    text-decoration: none;
}

.horizontal-nav .nav-misc-container .account-icon-wletter {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
}

.horizontal-nav .nav-misc-container .account-icon-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
}

/* burger menu button */

.nav-burger-button-container {
    position: absolute;
    top: calc((var(--nav-height) - 25px) / 2);
    left: 20px;
    z-index: var(--hamburger-button-zindex);
    height: 25px;
    width: 30px;
}

.nav-burger-button-container:hover {
    cursor: pointer;
}

.nav-burger-button-container:hover > span{
    background-color: var(--gold);
}

.nav-burger-button-container > span {
    background-color: var(--white);
    height: 4px;
    width: 100%;
    transition: 0.5s;
}

.nav-burger-button-container #nav-burger-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nav-burger-button-container #nav-burger-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.nav-burger-button-container #nav-burger-bot {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    
}

.burger-menu-button-active #nav-burger-top {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
}

.burger-menu-button-active #nav-burger-mid {
    opacity: 0%;
}

.burger-menu-button-active #nav-burger-bot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

.burger-menu-container {
    position: fixed;
    left: calc(-18% - 41px); /* 41px pour le padding + border */
    top: 0;
    width: 18%;
    height: 100dvh;
    z-index: var(--hamburger-zindex);
    padding: 60px 20px 20px 20px;
    background-color: var(--burger-background);
    border-right: solid 1px var(--burger-border);
    transition: 0.5s;

}

.burger-menu-active {
    left: 0;
}

#nav-offset {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black);
}