.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.red-text {
    color: red !important;
}

.no-link-style {
    color: white !important;
    text-decoration: none !important;
}

.no-link-style > * {
    color: white !important;
    text-decoration: none !important;
}

.wrap {
    flex-wrap: wrap !important;
}

.gap10 {
    gap: 10px !important;
}

.gap20 {
    gap: 20px !important;
}

.width60p {
    width: 60% !important;
}

.width40p {
    width: 40% !important;
}

.align-normal {
    align-items: normal !important;
}

.grayscale {
    filter: grayscale(1) !important;
}