:root {
    /* Variables */
    --black: black;
    --white: white;
    --gold: #d4af37;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 10px 20px;
}

nav .nav-burger-wrapper {
    flex: 1;
}

nav .nav-burger-container {
    display: flex;
    width: fit-content;
    gap: 5px;
    flex-direction: column;
}

nav .nav-burger-container:hover {
    cursor: pointer;
}

nav .nav-burger-container span {
    background-color: var(--white);
    height: 3px;
    width: 30px;
}

nav .nav-logo {
    width: 150px;
}

nav .nav-misc-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav .nav-misc-container {
    display: flex;
    gap: 15px;
}

nav .nav-misc-container .button-search-bar {
    background: none;
    border: none;
    color: var(--white);
}

nav .nav-misc-container .button-search-bar:hover {
    cursor: pointer;
}

nav .nav-misc-container .nav-basket {
    color: var(--white);
    text-decoration: none;
}

