:root {
	/* Variables */
	--black: black;
	--white: white;
	--gold: rgb(178, 164, 56);
    --burger-background: rgb(13, 13, 13);
    --burger-border: rgb(46, 46, 46);
    --delete: rgb(192, 14, 14);
    --gray: gray;

	--nav-height: 90px;

    --collection-info-zindex: 100;
    --alert-zindex: 300;
    --blur-zindex: 400;
    --nav-zindex: 500;
    --hamburger-zindex: 600;
    --hamburger-button-zindex: 700;
    --search-zindex: 8000;
}

@font-face {
  font-family: 'Playfair';
  src:
    url('../assets/fonts/Playfair.woff2') format('woff2'),;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('../assets/fonts/Nunito.woff2') format('woff2'),;
}

@font-face {
  font-family: 'EB Garamond';
  src:
    url('../assets/fonts/EBGaramond.woff2') format('woff2'),;
}

html,
body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.main-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	color: var(--black);
	text-decoration: none;
	padding: 22px 70px;
	background-color: var(--white);
	font-size: 1.4rem;
	font-weight: 500;
	font-family: "Playfair", serif;
	transition: 0.5s color;
}

.main-button:hover {
	color: var(--gold);
}

.validate-button-black {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: var(--white);
    border : none;
    background-color: var(--black);
	padding: 10px 40px;
	font-weight: 500;
	font-family: "Playfair", sans-serif;
	transition: 0.5s color;
}

.validate-button-black:hover {
    color: var(--gold);
	cursor: pointer;
}

.validate-button-white {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: var(--black) !important;
    border : none;
    background-color: var(--white);
	padding: 10px 40px;
	font-weight: 500;
	font-family: "Playfair", sans-serif;
	transition: 0.5s;
}

.validate-button-white:hover {
    color: var(--gold) !important;
}

.validate-button-black-outline {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: var(--white);
    border : solid 1px var(--white);
	padding: 10px 40px;
	font-weight: 500;
	font-family: "Playfair", sans-serif;
	transition: 0.5s;
}

.validate-button-black-outline:hover {
    background-color: var(--white);
    color: var(--gold);
	cursor: pointer;
}

.validate-button-white-outline {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    border : solid 1px var(--black);
	padding: 10px 40px;
	font-weight: 500;
	font-family: "Playfair", sans-serif;
	transition: 0.5s;
}

.validate-button-white-outline:hover {
    background-color: var(--black);
    color: var(--gold);
	cursor: pointer;
}

.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-row {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);

}

.main-tile {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    width: calc(100% - 160px);
}

.main-tile-col {
    display: flex;
    flex-direction: column;
}

.form-title {
	color: var(--white);
	font-family: "Playfair", sans-serif;
}

.alert {
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 20px;
	position: fixed;
	bottom: 20px;
	z-index: var(--alert-zindex);
	left: -100%;
	padding: 20px;
	transition: 1s left;
}

.alert button {
	border: none;
	background: none;
}

.alert button:hover {
	cursor: pointer;
}

.alert-warning {
	background-color: var(--gold);
}

.alert-danger {
	background-color: rgb(189, 51, 51);
}

.alert-success {
	background-color: rgb(71, 176, 48);
}

.screen-blur {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: var(--blur-zindex);
    height: 100vh;
    width: 100vw;
    opacity: 0%;
    visibility: hidden;
    transition: 0.2s;
}

.screen-blur-active {
    visibility: visible;
    opacity: 100%;
}

h1, h2, h3 {
    font-weight: 500;
    font-family: 'Playfair';
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.overlay:hover {
    opacity: 50%;
}

.overlay-dimmer {
    opacity: 50%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.text-box h1, .text-box h2, .text-box h3 {
    font-family: 'Playfair';
    font-weight: bold;
}

.text-box p {
    font-family: 'EB Garamond';
}

.divider-fancy {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent)
}

.divider {
    width: 100%;
    border-top: solid 1px rgb(167, 167, 167);
}

.material-symbols-outlined {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}