:root {
    /* Variables */
    --black: black;
    --white: white;
    --gold: #d4af37;
}

html,body {
    margin: 0;
}

.log-button {
    background: whitesmoke;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,20);
    padding: 10px;
    margin: 10px;
}
