.container-boutique {
    align-items: flex-start;
}

.card-vetement {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    width: 20%;
    margin: 10px;
}

.card-img-container {
    width: 100%;
    display: flex;
}

.card-img-container:hover {
    cursor: pointer;
}

.card-img-container > img {
    transition: 0.3s;
}

.card-img-container:hover > img {
    filter: brightness(80%);
}

.card-img {
    width: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.card-price {
    font-weight: bold;
}

.card-price-button {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-button {
    color: var(--white);
    background: var(--black);
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
}

.card-button:hover {
    color: var(--gold);
}

.input-vetement-wrapper {
    width: 100%;
    position: relative;
}

.card-input {
    border-right: solid 1px gray;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    border-left: none;
    height: 100%;
    width: 100%;
    min-width: 40px;
    padding: 5px 20px 5px 5px;
    box-sizing: border-box;
}

.input-vetement-up,
.input-vetement-down {
    position: absolute;
    right: 0;
    font-size: 1.25rem !important;
}

.input-vetement-up:hover,
.input-vetement-down:hover {
    color: var(--gold);
    cursor: pointer;
}

.input-vetement-up {
    top: 0;
}

.input-vetement-down {
    bottom: 0;
}

.input-vetement-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input-vetement {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 110px;
}

.vetement-stock-warning {
    font-size: 0.7rem;
    color: rgb(228, 75, 75);
    width: fit-content;
}

.input-vetement input::-webkit-outer-spin-button,
.input-vetement input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-vetement input[type=number] {
    appearance: textfield;
}