footer {
	display: flex;
	flex-direction: column;
	height: fit-content;
	background-color: var(--black);
	color: var(--white);
	margin-top: auto;
}

footer .footer-tile {
	display: flex;
	padding: 20px;
}

footer .footer-socials {
	display: flex;
    align-items: center;
	gap: 20px;
}

footer .footer-socials a img {
    width: clamp(5px, 2rem, 100px);
    height: auto;
}

footer .footer-team {
	display: flex;
	flex-direction: column;
}

footer .footer-copyright {
	display: flex;
	justify-content: center;
}