/* navbar */

nav {
    position: fixed;
    z-index: var(--nav-zindex);
    top: 0;
    width: 100%;
}

.horizontal-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: var(--nav-zindex);
    width: calc(100% - 40px);
    background-color: var(--black);
    padding: 0px 20px;
    height: var(--nav-height);
}

.horizontal-nav .nav-burger-spacer {
    flex: 1;
    width: 30px;
}

.horizontal-nav .nav-logo {
    width: clamp(100px, calc(150px + 5rem), 400px);
}

.horizontal-nav .nav-misc-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.horizontal-nav .nav-misc-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.horizontal-nav .nav-misc-container .button-search-bar {
    background: none;
    border: none;
    color: var(--white);
}

.horizontal-nav .nav-misc-container .button-search-bar:hover {
    cursor: pointer;
}

.horizontal-nav .nav-misc-container * {
    font-size: 2rem;
    transition: 0.5s color;
    line-height: 1;
    height: fit-content;
    width: fit-content;
}

.horizontal-nav .nav-misc-container button:hover {
    color: var(--gold);
}

.horizontal-nav .nav-misc-container > a:hover {
    color: var(--gold);
}

.horizontal-nav .nav-misc-container .nav-link {
    color: var(--white);
    text-decoration: none;
}

.horizontal-nav .nav-misc-container .account-icon-wletter {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
}

.account-icon-circle {
    font-size: 2rem !important;
}

.horizontal-nav .nav-misc-container .account-icon-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
}

/* burger menu button */

.nav-burger-button-container {
    position: absolute;
    top: calc((var(--nav-height) - 25px) / 2);
    left: 20px;
    z-index: var(--hamburger-button-zindex);
    height: 25px;
    width: 30px;
}

.nav-burger-button-container:hover {
    cursor: pointer;
}

.nav-burger-button-container:hover > span{
    background-color: var(--gold);
}

.nav-burger-button-container > span {
    background-color: var(--white);
    height: 4px;
    width: 100%;
    transition: 0.5s;
}

.nav-burger-button-container #nav-burger-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nav-burger-button-container #nav-burger-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.nav-burger-button-container #nav-burger-bot {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    
}

.burger-menu-button-active #nav-burger-top {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
}

.burger-menu-button-active #nav-burger-mid {
    opacity: 0%;
}

.burger-menu-button-active #nav-burger-bot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* searchbar */

.nav-search-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-left: 20px;
    height: 40px;
}

.search-button-research {
    border: none;
    border-radius: 0;
    padding: 2px 8px;
    background-color: var(--white);
    height: 100%;
}

.search-button-research:hover {
    cursor: pointer;
}


.nav-searchbar {
    padding: 5px 10px;
    border-radius: 0;
    border: none;
    font-size: 1rem;
}

.nav-search-container {
    display: none;
}

.nav-search-active {
    display: flex;
}

/* burger menu */

.burger-menu-container {
    position: fixed;
    align-items: center;
    left: calc(-18% - 41px); /* 41px pour le padding + border */
    top: 0;
    width: calc(18% + 41px);
    height: 100dvh;
    z-index: var(--hamburger-zindex);
    background-color: var(--burger-background);
    border-right: solid 1px var(--burger-border);
    transition: 0.5s;
}

.burger-menu-scroll-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 20px 20px 20px;
    overflow-y: scroll;
}


.burger-top-spacer {
    position: absolute;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: red;
}


}

.burger-menu-active {
    left: 0;
}

.burger-menu-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.burger-content {
    color: var(--white);
    padding-left: 30px;
    width: calc(100% - 30px);
}

.burger-content a {
    text-decoration: none;
    color: var(--white);
}

.burger-content a:hover {
    color: var(--gold);
}

.burger-content .burger-boutique-category {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.burger-content .category-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
/* misc */

#nav-offset {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black);
}