/* navbar */

nav {
    position: fixed;
    z-index: var(--nav-zindex);
    top: 0;
    width: 100%;
}

.horizontal-nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: var(--nav-zindex);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--black);
    padding: 0px 20px;
    height: var(--nav-height);
}

.horizontal-nav .nav-burger-spacer {
    flex: 1;
    width: 30px;
}

.horizontal-nav .nav-logo {
    width: clamp(100px, calc(150px + 5rem), 400px);
}

.horizontal-nav .nav-misc-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.horizontal-nav .nav-misc-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}

.horizontal-nav .nav-misc-container .button-search-bar {
    background: none;
    border: none;
    color: var(--white);
}

.horizontal-nav .nav-misc-container .button-search-bar:hover {
    cursor: pointer;
}

#nav-search-open-button,
.nav-panier-icon,
.account-icon {
    font-size: 2rem !important;
    transition: 0.5s color;
    line-height: 1;
    height: fit-content;
    width: fit-content;
}

#nav-search-open-button:hover,
.nav-panier-container:hover .nav-panier-icon,
.account-icon:hover {
    color: var(--gold) !important;
}

.horizontal-nav .nav-misc-container .nav-link {
    color: var(--white);
    text-decoration: none;
}

.horizontal-nav .nav-misc-container .account-icon-wletter {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
}

.nav-panier-container {
    position: relative;
}

.nav-panier-notif {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: var(--gold);
    color: var(--white);
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.account-icon-circle {
    font-size: 2rem !important;
}

.horizontal-nav .nav-misc-container .account-icon-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
}

/* burger menu button */

.nav-burger-button-container {
    position: absolute;
    top: calc((var(--nav-height) - 25px) / 2);
    left: 20px;
    z-index: var(--hamburger-button-zindex);
    height: 25px;
    width: 30px;
}

.nav-burger-button-container:hover {
    cursor: pointer;
}

.nav-burger-button-container:hover > span {
    background-color: var(--gold);
}

.nav-burger-button-container > span {
    background-color: var(--white);
    height: 4px;
    width: 100%;
    transition: 0.5s;
}

.nav-burger-button-container #nav-burger-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nav-burger-button-container #nav-burger-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nav-burger-button-container #nav-burger-bot {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

}

.burger-menu-button-active #nav-burger-top {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

}

.burger-menu-button-active #nav-burger-mid {
    opacity: 0%;
}

.burger-menu-button-active #nav-burger-bot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* searchbar */

.nav-search-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    background-color: var(--black);
    z-index: var(--search-zindex);
    height: var(--nav-height);
    width: 100%;
}

.search-button-research {
    border: none;
    border-radius: 0;
    padding: 2px 8px;
    background-color: var(--black);
    color: var(--white);
    height: 100%;
}

.search-button-research:hover {
    cursor: pointer;
}

.nav-searchbar {
    padding: 10px 20px;
    width: 100%;
    border-radius: 0;
    color: var(--white);
    background-color: var(--black);
    border: none;
    font-size: 1.2rem;
}

.nav-search-container {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.nav-search-icons {
    background-color: var(--black);
    border: none;
    color: var(--white);
    width: var(--nav-height);
    font-size: 2rem !important;
}

.nav-search-icons:hover {
    cursor: pointer;
    color: var(--gold);
}

.nav-search-active {
    visibility: visible;
    opacity: 1;
}

/* intérieur burger menu */

.burger-menu-container {
    position: fixed;
    align-items: center;
    left: -30%; 
    top: 0;
    width: 30%;
    height: 100dvh;
    z-index: var(--hamburger-zindex);
    background-color: var(--burger-background);
    border-right: solid 1px var(--burger-border);
    transition: 0.5s left;
}

.burger-menu-scroll-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: calc(100% - 41px);
    height: 100%;
    padding: 80px 20px 20px 20px;
    overflow-y: scroll;
}

.burger-top-spacer {
    position: absolute;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: var(--burger-background);
}

.burger-menu-active {
    left: 0;
}

.burger-menu-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.burger-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    padding-left: 30px;
    width: calc(100% - 30px);
}

.burger-content a {
    text-decoration: none;
    color: var(--white);
}

.burger-menu-container h1 {
    color: var(--white);
}

.burger-content h2 {
    margin: 0;
    line-height: 1;
}

.burger-content a:hover {
    color: var(--gold);
}

.burger-content .burger-boutique-category {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.burger-content .category-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}
/* misc */

#nav-offset {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black);
}