{% extends 'layout.html' %}


{% block javascripts %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}

   <script src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>

{% endblock %}

{% block javascripts_head %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
    <script src="{{ url_for('static', filename='js/Chart.js') }}" ></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>#}

{% endblock %}


{% block title %}
    <title>Afficher les types de vetements</title>
{% endblock %}

{% block body %}
<br>

    <h2> nombre de vetements :
    <span style="color: red;">{{ nb_vetements.nb }}</span>
    </h2>

<table class="">
    <thead class="">
        <tr>
           <th>type de vetement</th> <th>(id)</th><th>nombre de vetements</th>
        </tr>
    </thead>
    <tbody>
    {% if datas_show | length >= 1 %}
        {% for ligne in datas_show %}
           <tr>
                  <td>{{ ligne.libelle_type_vetement }}</td>
                  <td>{{ ligne.id_type_vetement }}</td>
                   <td><span style="color: red">
                       {% if ligne.nbr_vetements is not none %}  {{ ligne.nbr_vetements }} {% else %}
                       pas de vetement {% endif %}
                   </span></td>

           </tr>
        {% endfor %}
    {% else %}
        pas de stock
    {% endif %}
    </tbody>
</table>
    <br>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2>visualisation de données : graph.js</h2>
<h3>Documentation</h3>
<br>
    <a href="https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/" target="_blank"> tuto partie1 graph.js</a><br>
    <a href="https://tobiasahlin.com/blog/introduction-to-chartjs" target="_blank"> tuto partie2 graph.js</a>&nbsp;
<br>
    <a href="https://www.youtube.com/watch?v=E2hytuQvLlE" target="_blank"> vidéo : flask + graph.js</a>&nbsp;
    <br>

{# https://jinja.palletsprojects.com/en/3.0.x/templates/#html-escaping #}
    <div style="width: 900px; height: 500px; border: #0a53be 1px solid;">
        <canvas id="Chart1" ></canvas>
    </div>
    graphique 1
    <script>
	var ctx1 = document.getElementById("Chart1").getContext("2d");
	var Chart1 = new Chart( ctx1, {
  		type: "bar",
  		data: {
  			labels: {{ labels | safe }},
  			datasets: [
  				{
  				label: "Type d'vetements (nombre)",
  				data: {{ values | safe }},
  				fill: false,
                 backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
             "#faf24c"
             , "#6a6ce7","#55f68f","#D0c309","#c45000"],
  				borderColor: "rgb(75,192,192)",
  				lineTension: 0.1
  				}
  			]
  		},
  		option: {
  			responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
  		}
	});
    </script>


    <h2>demo graphique à secteurs : "camenberd" ,"donut" ( "pie-chart"  "doughtnut")</h2>

    <canvas id="pie-chart" width="800" height="450"></canvas>

    <script>
	var Chart2 = new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: {{ labels | safe }},
      datasets: [{
        label: "Type de vetements (nombre)",
         backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
             "#faf24c"
             , "#6a6ce7","#55f68f","#D0c309","#c45000"],
        data: {{ values | safe }},
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Type vetement : nombre'
      }
     }
    });
    </script>

    <a href="https://www.youtube.com/watch?v=TcwYXIIM-fs" target="_blank">dataviz, c'est quoi en 1 mn ? (juste la première minute)</a>
    <br>
    <a href="https://www.youtube.com/watch?v=bZDnSUjfMt8" target="_blank">dataviz, c'est quoi ? (juste la première minute)</a>
{% endblock %}
