{% extends 'layout.html' %}

{% block title %}
    <title>DataViz carte adresses | Admin</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Données sur les adresses clients</h2>
    <div class="crud-top-actions">
        <a class="validate-button-white-outline" href="/admin/dashboard">Retour</a>
    </div>

    <div class="dataviz-map-wrapper">
        <div class="dataviz-map-content">
            {% include 'admin/dataviz/franceMap.html' %}
        </div>
    </div>
</main>

<script>
    {% for element in adresses %}
        document.getElementById("{{ element['dep'] }}").setAttribute("fill", "#000000");
        document.getElementById("{{ element['dep'] }}").setAttribute("fill-opacity", {{ element['indice'] }});
    {% endfor %}
</script>
{% endblock %}
