{% extends 'admin/layout_admin.html' %}


{% block javascripts %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
    {{ super() }}
   {# <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" ></script>#}
{% endblock %}

{% block javascripts_head %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
{#    <script src="{{ url_for('static', filename='chart.js') }}" ></script>#}
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block title %}
    <title>test carte</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Données sur les adresses clients</h2>

    <div style="display: flex; justify-content: center; padding: 40px; border: solid 1px rgb(200, 200, 200); margin-top: 20px;">
        <div style="max-width: 600px; width: 100%;">
            {% include 'admin/dataviz/franceMap.html' %}
        </div>
    </div>
</main>

<script>
    {% for element in adresses %}
        document.getElementById("{{ element['dep'] }}").style.fill= "#000000";
        document.getElementById("{{ element['dep'] }}").setAttribute("fill-opacity", {{ element['indice'] }});
    {% endfor %}
</script>
{% endblock %}
