{% extends('layout.html') %}

{% block title %}
    <title> | Gaullois</title>
{% endblock %}

{% block body %}
    <main>
        <form action="/client/coordonnee/edit" method="post">
        <div class="coordonne-container">
            <table class="coordonnee-user-table">
                    <tbody>
                    <tr>
                        <th>Login : <input required type="text" value="{{ utilisateur.login }}" name="login"></th>
                    </tr>
                    <tr>
                        <th>Nom : <input required type="text" value="{{ utilisateur.nom }}" name="nom"></th>
                    </tr>
                    <tr>
                        <th>Email : <input required  type="email" value="{{ utilisateur.email }}" name="email"></th>
                    </tr>
                    <tr>
                        <th><button class="validate-button-white-outline align-self-center width100p" type="submit">
                            Confirmer
                        </button></th>
                    </tr>
                    </tbody>
            </table>
        </div>
        </form>
    </main>
{% endblock %}