{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un casque</title>
{% endblock %}

{% block body %}
    <h2>ajouter une déclinaison d'un vetement</h2>
    <div class="">
    {% if vetement.photo is defined and vetement.photo is not none %}
        <img class=""  style="width:200px; height:200px; border: 1px solid black; padding: 25px;" id="output" src="{{ url_for('static', filename = 'assets/images/clothes/')}}{{ vetement.photo }}" alt="">
    {% endif %}
        <div class="">
            <form class="" method="post" action="/admin/declinaison_vetement/add">
                <input id="id_vetement" type="hidden" name="id_vetement" value="{{ vetement.id_vetement }}">
                <label for="stock">stock :
                    <input name="stock" id="stock" type="number" class="form-control" required>
                </label>
                <label for="taille">Taille :
                    <select id="id_taille" name="id_taille" required class="">
                        <option value="">Sélectionner une taille</option>
                        {% for taille in tailles %}
                            <option value="{{ taille.id_taille }}"> {{ taille.libelle_taille }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter" class="">
                </label>

            </form>
         <a href="/admin/vetement/edit?id_vetement={{ vetement.id_vetement }}"><button class="">annuler</button></a>
        </div>
    </div>
{% endblock %}
