{% extends 'layout.html' %}

{% block title %}
    <title>Répondre à un commentaire | Admin</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Répondre à un commentaire client</h2>
    <div class="crud-top-actions wrap">
        <a class="validate-button-white-outline" href="{{ return_url }}">
            Retour aux commentaires
        </a>
    </div>

    <form action="/admin/vetement/commentaires/repondre" method="post" class="crud-input-list width100p">
        <input type="hidden" name="id_vetement" value="{{ id_vetement }}">
        <input type="hidden" name="id_utilisateur" value="{{ id_utilisateur }}">
        <input type="hidden" name="date_commentaire" value="{{ date_commentaire }}">
        <input type="hidden" name="return_url" value="{{ return_url }}">

        <div class="crud-field">
            <label for="input_commentaire">Votre réponse</label>
            <textarea name="commentaire"
                      id="input_commentaire"
                      placeholder="Votre réponse"
                      class="item-description-crud"
                      rows="6"
                      required></textarea>
        </div>

        <div class="crud-field-actions">
            <button type="submit" class="validate-button-black">Envoyer la réponse</button>
        </div>
    </form>
</main>

{% endblock %}