{% extends 'layout.html' %}
{% block title %}
    <title>Modifier une déclinaison</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Modifier la déclinaison d'un vêtement</h2>
    <p>Vêtement : <strong>{{ declinaison_vetement.nom_vetement }}</strong></p>
    <div class="crud-update-container">
        {% if declinaison_vetement.photo is defined and declinaison_vetement.photo is not none %}
        <img class="crud-update-img" src="{{ url_for('static', filename = 'assets/images/clothes/')}}{{ declinaison_vetement.photo }}" alt="Image de {{ declinaison_vetement.nom_vetement }}">
        {% else %}
        <img class="crud-update-img" src="{{ url_for('static', filename = 'assets/images/clothes/') }}no_photo.jpeg" alt="">
        {% endif %}

        <form class="crud-input-list" method="post" action="/admin/declinaison_vetement/edit">
            <input type="hidden" value="{{ declinaison_vetement.id_declinaison_vetement }}" name="id_declinaison_vetement">
            <input type="hidden" value="{{ declinaison_vetement.vetement_id }}" name="id_vetement">
            
            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="stock">Stock</label>
                    <input name="stock" id="stock" type="number" min="0" step="1" value="{{ declinaison_vetement.stock }}" required>
                </div>
                
                <div class="crud-field">
                    <label for="id_taille">Taille</label>
                    <select id="id_taille" name="id_taille" required>
                        {% for taille in tailles %}
                            <option value="{{ taille.id_taille }}" {% if taille.id_taille == declinaison_vetement.taille_id %} selected {% endif %}>{{ taille.libelle_taille }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="crud-field-actions">
                <button class="validate-button-black" type="submit">Modifier</button>
                <a class="validate-button-white-outline" href="/admin/vetement/edit?id={{ declinaison_vetement.vetement_id }}">Annuler</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}
