{% extends 'layout.html' %}
{% block title %}
<title>Modifier un vêtement</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Modifier un vêtement</h2>
    <div class="crud-update-container">
        {% if vetement.photo is not none %}
        <img class="crud-update-img" id="img_output"
            src="{{ url_for('static', filename = 'assets/images/clothes/') }}{{ vetement.photo }}"
            alt="Image de {{ vetement.nom_vetement }}">
        {% endif %}
        <form class="crud-input-list" method="post" action="/admin/vetement/edit" enctype="multipart/form-data">
            <input type="hidden" value="{{ vetement.id_vetement }}" name="id_vetement">

            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="nom">Nom</label>
                    <input id="nom" name="nom" type="text" value="{{ vetement.nom_vetement }}">
                </div>

                <div class="crud-field">
                    <label for="prix">Prix (€)</label>
                    <input id="prix" name="prix" type="number" min="0.0" step="0.01"
                        value="{{ vetement.prix_vetement }}">
                </div>
            </div>

            <div class="crud-field">
                <label for="description">Description</label>
                <textarea id="description" class="item-description-crud" name="description" type="text">{{ vetement.description }}</textarea>
            </div>

            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="matiere_id">Matière</label>
                    <select id="matiere_id" name="matiere_id">
                        {% for matiere in matieres %}
                        <option value="{{ matiere.id_matiere }}" {% if matiere.id_matiere==vetement.matiere_id %}
                            selected {% endif %}>{{ matiere.libelle_matiere }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="crud-field">
                    <label for="type_vetement_id">Type de vêtement</label>
                    <select id="type_vetement_id" name="type_vetement_id">
                        {% for type in types_vetement %}
                        <option value="{{ type.id_type_vetement }}" {% if
                            type.id_type_vetement==vetement.type_vetement_id %} selected {% endif %}>{{
                            type.libelle_type_vetement }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="photo">Image</label>
                    <input id="photo" name="photo" onchange="loadFile(event)" type="file" value="{{ vetement.photo }}">
                </div>

                <div class="crud-field">
                    <label for="marque_id">Marque</label>
                    <select id="marque_id" name="marque_id">
                        {% for marque in marques %}
                        <option value="{{ marque.id_marque }}" {% if marque.id_marque==vetement.marque_id %} selected {%
                            endif %}>{{ marque.libelle_marque }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="fournisseur_id">Fournisseur</label>
                    <select id="fournisseur_id" name="fournisseur_id">
                        {% for fournisseur in fournisseurs %}
                        <option value="{{ fournisseur.id_fournisseur }}" {% if
                            fournisseur.id_fournisseur==vetement.fournisseur_id %} selected {% endif %}>{{
                            fournisseur.libelle_fournisseur }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="crud-field">
                    <label for="taille_id">Taille</label>
                    <select id="taille_id" name="taille_id">
                        {% for taille in tailles %}
                        <option value="{{ taille.id_taille }}" {% if taille.id_taille==vetement.taille_id %} selected {%
                            endif %}>{{ taille.libelle_taille }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="crud-input-container">
                <div class="crud-field">
                    <label for="collection_id">Collection</label>
                    <select id="collection_id" name="collection_id">
                        {% for collection in collections %}
                        <option value="{{ collection.id_collection }}" {% if
                            collection.id_collection==vetement.collection_id %} selected {% endif %}>{{
                            collection.libelle_collection }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="crud-field">
                    <label for="stock">Stock</label>
                    <input id="stock" name="stock" type="number" min="0" step="1" value="{{ vetement.stock }}">
                </div>
            </div>

            <div class="crud-field-actions">
                <button class="validate-button-black" type="submit">Modifier</button>
                <a class="validate-button-white-outline" href="/admin/vetement/show" role="button">Retour</a>
        </form>

        <!-- <div>
                    <div>
                        <h3>déclinaison en fonction de la taille/couleur (variante)</h3>
                        <a href="/admin/declinaison_vetement/add?id_vetement={{ vetement.id_vetement }}">
                            <button>
                                Ajouter une déclinaison (variante)
                            </button>
                        </a>
                    </div>
                    <table class="">

                        <th>taille</th>
                        <th>couleur</th>
                        <th>stock</th>
                        <th>opérations</th>

                        {% if declinaisons_vetement | length == 0 %}
                            <tr>
                                <td>Aucun modèle</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            {% for declinaison_vetement in declinaisons_vetement %}
                                <tr>
                                    <td>
                                        {{ declinaison_vetement.libelle_taille }}
                                    </td>
                                    <td>
                                        {{ declinaison_vetement.libelle_couleur }}
                                    </td>
                                    <td>{{ declinaison_vetement.stock }}</td>
                                    <td>
                                        <a href="/admin/declinaison_vetement/delete?id_declinaison_vetement={{ declinaison_vetement.id_declinaison_vetement }}&amp;id_vetement={{ declinaison_vetement.vetement_id }}">
                                            <button class="btn btn-primary mx-1">
                                                supprimer
                                            </button>
                                        </a>
                                        <a href="/admin/declinaison_vetement/edit?id_declinaison_vetement={{ declinaison_vetement.id_declinaison_vetement }}">
                                            <button>
                                                editer
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                </div> -->
    </div>
    </div>

    {% if pb_taille_uniq is defined and pb_taille_uniq==1 %}
    <span class="crud-warning">(pb sur les tailles : une taille unique est définie avec d'autres tailles)</span>
    {% endif %}
    {% if pb_couleur_uniq is defined and pb_couleur_uniq==1 %}
    <span class="crud-warning">(pb sur les couleurs : une couleur unique est définie avec d'autres couleurs)</span>
    {% endif %}
</main>
{% endblock %}