{% extends 'layout.html' %}

{% block title %}
<title>afficher les articles</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h3>Gestion vêtements</h3>
    <a class="validate-button-black crud-add-button" href="/admin/vetement/add">ajouter un article</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>ID</th>
                <th>Type vetement</th>
                <th>Prix</th>
                <th>Marque</th>
                <th>Fournisseur</th>
                <th>Matiere</th>
                <th>Taille</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Opérations</th>
            </tr>
        </thead>
        <tbody>
            {% if vetements | length >= 1 %}
            {% for ligne in vetements %}
            <tr>
                <td>{{ ligne.nom_vetement }}</td>
                <td>{{ ligne.id_vetement }}</td>
                <td>{{ ligne.libelle_type_vetement }} ({{ ligne.id_type_vetement }})</td>
                <td>{{ ligne.prix_vetement }} € </td>
                <td>{{ ligne.marque }}</td>
                <td>{{ ligne.fournisseur }}</td>
                <td>{{ ligne.matiere }}</td>
                <td>{{ ligne.taille }}</td>
                <td><strong>{{ ligne.stock }}</strong></td>
                <td>
                    <div class="crud-img">
                        {% if ligne.photo is not none %}
                        <img src="{{ url_for('static', filename = 'assets/images/clothes/' + ligne.photo) }}"
                            alt="image de {{ ligne.nom_vetement }}">
                        {% else %}
                        <img src="{{ url_for('static', filename='assets/images/placeholder.svg')}}"
                            alt="Pas d'image">
                        {% endif %}
                        <span class="crud-img-name">{{ ligne.photo }}</span>
                    </div>
                </td>
                <td class="crud-button-container">
                    <a class="validate-button-white-outline"
                        href="#">supprimer</a>
                    <a class="validate-button-white-outline"
                        href="#">editer</a>
                    <a class="validate-button-white-outline"
                        href="#">commentaires</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    Pas d'article
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</main>
{% endblock %}