<footer>
    <div class="footer-tile">
        <div>
            <div class="footer-desc">
                <p>Ceci est une boutique fictive réalisé lors d'un projet universitaire</p>
            </div>
            <div class="footer-socials">
                <a href="https://github.com/NoeLaurencot/SAE_Ecommerce/">
                    <img src="{{ url_for('static', filename='assets/images/icon-github.avif') }}" alt="icon github">
                </a>
                <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/icon-insta.avif') }}" alt="icon instagram">
                </a>
                <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/icon-facebook.avif') }}" alt="icon facebook">
                </a>
            </div>
        </div>
        <div class="footer-init">
            <a class="validate-button-white" href="/base/init">Initialiser la base de donnée</a>
        </div>
    </div>
    <div class="footer-tile">
        <div class="footer-team">
            <h4>Réalisé par:</h4>
            <span>Jules JEANROT</span>
            <span>Pierre LAMOUR</span>
            <span>Noé LAURENÇOT</span>
            <span>Groupe 10 - S2B1</span>
        </div>
    </div>
    <div class="footer-tile footer-copyright">
        © 2026 | Gaullois - Projet universitaire
    </div>
</footer>