<nav>
    <div class="burger-menu-container" id="burger-menu">
        <div class="burger-top-spacer"></div>
        <div class="burger-menu-scroll-wrapper">
            {% if session['login'] %}
            <h1 class="no-margin">Bienvenue,
                {% if session['nom'] %}
                {{ session['nom'] }}
                {% else %}
                {{ session['login'] }}
                {% endif %}</h1>
            <a class="validate-button-white" href="/logout">Compte</a>
            {% else %}
            <div class="burger-menu-button-container">
                <a class="validate-button-white" href="/login">Se connecter</a>
                <a class="validate-button-black-outline" href="/signup">S'inscrire</a>
            </div>
            {% endif %}
            <div class="divider-fancy"></div>
            <div class="burger-content">
                <div class="burger-boutique-category">
                    <a href="/client/vetement/show">
                        <h2>Boutique</h2>
                    </a>
                    <div class="category-item-container">
                        {% for categorie in types_vetements_nav %}
                        <form action="/client/vetement/show" method="post">
                            <input type="text" hidden name="filter_types" value="{{ categorie.libelle_type_vetement }}">
                            <button type="submit">{{ categorie.libelle_type_vetement }}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                <div class="burger-boutique-categorie">
                    <a href="/client/vetement/show">
                        <h2>Nouveautés</h2>
                    </a>
                </div>

                {% if session['role'] == 'ROLE_admin' %}
                <div class="divider-fancy"></div>
                <div class="burger-boutique-category">
                    <a href="/admin/vetement/show">
                        <h2>Gestion vêtements</h2>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div tabindex="0" class="nav-burger-button-container" id="nav-burger-menu">
        <span id="nav-burger-top"></span>
        <span id="nav-burger-mid"></span>
        <span id="nav-burger-bot"></span>
    </div>

    <form class="nav-search-container" id="nav-search-container" action="/client/vetement/show" method="post">
        <button class="material-symbols-outlined nav-search-icons" id="nav-search-close-button"
            type="button">close</button>
        <input class="nav-searchbar" id="nav-searchbar" type="text" required name="filter_word"
            placeholder="Rechercher dans la boutique...">
        <button class="material-symbols-outlined nav-search-icons" type="submit">search</button>
    </form>

    <div class="horizontal-nav">
        <div class="nav-burger-spacer"></div> <!-- Pour que le logo soit au centre -->
        <div class="nav-logo-container">
            <a href="/">
                <img class="nav-logo" src="{{ url_for('static', filename='assets/images/logo/logo.avif') }}" alt="logo">
            </a>
        </div>
        <div class="nav-misc-wrapper">
            <div class="nav-misc-container">
                <button class="button-search-bar material-symbols-outlined no-padding"
                    id="nav-search-open-button">search</button>

                <a class="nav-panier-container" href="/client/panier">
                    <div class="material-symbols-outlined nav-panier-icon nav-link">shopping_bag</div>
                    {% if session['login'] and total_panier.total is not none %}
                    <div class="nav-panier-notif">
                        {% if total_panier.total > 9 %}
                            <span>9+</span>
                        {% else %}
                            <span>{{ total_panier.total }}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </a>

                {% if session['login'] %}
                <a class="nav-link account-icon-wletter account-icon" href="/logout">
                    <span class="material-symbols-outlined account-icon-circle">circle</span>
                    <span class="account-icon-letter">{{ session['login'][0] | upper }}</span>
                </a>
                {% else %}
                <a class="material-symbols-outlined nav-link account-icon" href="/login">account_circle</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div id="nav-offset"></div> <!-- Pour que les éléments de la page ne soient pas en dessous de la navbar -->