<nav>
    <div class="burger-menu-container" id="burger-menu">
    <!-- TODO -->
    <!-- intérieur du menu -->
    </div>
    <div tabindex="0" class="nav-burger-button-container" id="nav-burger-menu">
        <span id="nav-burger-top"></span>
        <span id="nav-burger-mid"></span>
        <span id="nav-burger-bot"></span>
    </div>
    <div class="horizontal-nav">
        <div class="nav-burger-spacer"></div> <!-- Pour que le logo soit au centre -->
        <div class="nav-logo-container">
            <a href="/">
                <img class="nav-logo" src="../static/assets/images/logo/logo.avif" alt="logo">
            </a>
        </div>
        <div class="nav-misc-wrapper">
            <div class="nav-misc-container">
                <button class="button-search-bar material-symbols-outlined no-padding" id="nav-search-button">search</button>
                <a class="material-symbols-outlined nav-link" href="#">shopping_bag</a>
                {% if session['login'] %}
                <a class="nav-link account-icon-wletter" href="/logout">
                    <span class="material-symbols-outlined">circle</span>
                    <span class="account-icon-letter">{{ session['login'][0] | upper }}</span>
                </a>
                {% else %}
                <a class="material-symbols-outlined nav-link" href="/login">account_circle</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div id="nav-offset"></div> <!-- Pour que les éléments de la page ne soient pas en dessous de la navbar -->