<nav class="navbar">
    <div class="nav-burger-container" id="nav-burger-menu">
        <span id="nav-burger-1"></span>
        <span id="nav-burger-2"></span>
        <span id="nav-burger-3"></span>
    </div>
    <div class="nav-logo-container">
        <a href="/">
             <img class="nav-logo" src="../static/assets/images/logo/logo.avif" alt="logo">
        </a>
    </div>
    <div class="nav-misc-container">
        <button class="button-search-bar material-symbols-outlined" id="nav-search-button">search</button>
        <a class="material-symbols-outlined nav-basket" href="#">shopping_bag</a>
        <a class="material-symbols-outlined nav-basket" href="/login">account_circle</a>
    </div>
</nav>