{% extends 'layout.html' %}

{% block title %}
<title>Accueil | Gaullois</title>
{% endblock %}

{% block body %}
<script>0</script> <!-- Pour fix un bug FOUC (Flash Of Unstyled Content) de firefox -->
<main>
    <div class="video-player-container">
        <video id="test" src="{{ url_for('static', filename='assets/videos/home_background_video.mp4') }}" autoplay muted loop disablePictureInPicture></video>
            <a class="main-button" href="/client/vetement/show">Visitez la boutique</a>
        </div>
        
    <div class="main-container">
        <div class="text-box">
            <h1>La mode française</h1>
            <p>Nos articles inutilement trop chers ne sauront vous résister</p>
        </div>
        <div class="main-tile tile-collection">
            <a class="collection-container no-link-style" href="/client/vetement/show">
                <img class="collection-img" src="../static/assets/images/collection-homme.avif" alt="collection homme">
                <div class="collection-overlay">
                    <div class="collection-info">
                        <div class="collection-title">
                            <h2>Masculin</h2>
                        </div>
                        <div class="collection-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum orci magna, vel
                                luctus purus placerat quis. Nunc congue tincidunt malesuada.</p>
                        </div>
                    </div>
                    <div class="collection-img-dimmer"></div>
                </div>
            </a>

            <a class="collection-container no-link-style" href="/client/vetement/show">
                <img class="collection-img" src="../static/assets/images/collection-femme.avif" alt="collection femme">
                <div class="collection-overlay">
                    <div class="collection-info">
                        <div class="collection-title">
                            <h2>Féminin</h2>
                        </div>
                        <div class="collection-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum orci magna, vel
                                luctus purus placerat quis. Nunc congue tincidunt malesuada.</p>
                        </div>
                    </div>
                    <div class="collection-img-dimmer"></div>
                </div>
            </a>
        </div>


        <div class="divider-fancy"></div>


        <div class="main-tile tile-new">
            <div class="new-collection-info">
                <h1>Nouveautés</h1>
                <p>Les dernières tendances, fraîchement sorties des usines du Bangladesh</p>
                <a class="validate-button-black" href="/client/vetement/show">Découvrire les nouveautés</a>
            </div>
            <div class="new-collection-container">
                {% for nouveaute in nouveautes %}
                <a class="new-collection-img-container" href="/client/vetement/show">
                    <img src="../static/assets/images/clothes/{{ nouveaute.photo }}" alt="{{ nouveaute.nom_vetement }}">
                    <div class="overlay">
                        <div class="overlay-dimmer"></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}