{% extends 'layout.html' %}

{% block title %}
<title>Accueil | Gaullois</title>
{% endblock %}

{% block body %}
<script>0</script> <!-- Pour fix un bug FOUC (Flash Of Unstyled Content) de firefox -->
<main>
    <div class="video-player-container">
        <video id="test" src="{{ url_for('static', filename='assets/videos/home_background_video.mp4') }}" autoplay muted loop disablePictureInPicture></video>
            <a class="main-button" href="/client/vetement/show">Visitez la boutique</a>
        </div>
        
    <div class="main-container">
        <div class="text-box">
            <h1>La mode française</h1>
            <p>Nos vetements inutilement trop chers ne sauront vous résister</p>
        </div>
        <div class="main-tile tile-collection">
            <form action="/client/vetement/show" method="post" style="display: contents;">
                <input type="hidden" name="filter_collections" value="1">
                <button type="submit" class="collection-container no-link-style pointer" style="border:none; padding:0; background:transparent; text-align:left;">
                    <img class="collection-img" src="../static/assets/images/collection-homme.avif" alt="collection homme">
                    <div class="collection-overlay">
                        <div class="collection-info">
                            <div class="collection-title">
                                <h2 >Masculin</h2>
                            </div>
                            <div class="collection-desc">
                                <p>Découvrez notre collection masculine : des vêtements élégants et confortables pour toutes les occasions.</p>
                            </div>
                        </div>
                        <div class="collection-img-dimmer"></div>
                    </div>
                </button>
            </form>

            <form action="/client/vetement/show" method="post" style="display: contents;">
                <input type="hidden" name="filter_collections" value="2">
                <button type="submit" class="collection-container no-link-style pointer" style="border:none; padding:0; background:transparent; text-align:left;">
                    <img class="collection-img" src="../static/assets/images/collection-femme.avif" alt="collection femme">
                    <div class="collection-overlay">
                        <div class="collection-info">
                            <div class="collection-title">
                                <h2>Féminin</h2>
                            </div>
                            <div class="collection-desc">
                                <p>Explorez notre collection féminine : des pièces tendances et raffinées pour sublimer votre style au quotidien.</p>
                            </div>
                        </div>
                        <div class="collection-img-dimmer"></div>
                    </div>
                </button>
            </form>
        </div>


        <div class="divider-fancy"></div>


        <div class="main-tile tile-new">
            <div class="new-collection-info">
                <h1>Nouveautés</h1>
                <p>Les dernières tendances, fraîchement sorties des usines du Bangladesh</p>
                <form action="/client/vetement/show" method="post" style="display: contents;">
                    <input type="hidden" name="filter_collections" value="3">
                    <button type="submit" class="validate-button-black pointer">Découvrire les nouveautés</button>
                </form>
            </div>
            <div class="new-collection-container">
                {% for nouveaute in nouveautes %}
                <form action="/client/vetement/show" method="post" style="display: contents;">
                    <input type="hidden" name="filter_collections" value="3">
                    <button type="submit" class="new-collection-img-container pointer" style="border:none; padding:0; background:transparent;">
                        <img src="../static/assets/images/clothes/{{ nouveaute.photo }}" alt="{{ nouveaute.nom_vetement }}">
                        <div class="overlay">
                            <div class="overlay-dimmer"></div>
                        </div>
                    </button>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}