<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <title>layout</title>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-utilities.css') }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo/favicon.avif')}}">
</head>


<body>
{% include('_nav.html') %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for categorie, message in messages %}
                <div class="alert alert-dismissible fade show {{ categorie }}" role="alert">
                    <span class="material-symbols-outlined">check_circle</span>
                    <span><strong>{{ message }}</strong></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% block body %}
{% endblock %}
{% include('_footer.html') %}
</body>

</html>