<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <title>layout</title>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-utilities.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles-vetement.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles-panier.css') }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo/favicon.avif')}}">
</head>


<body>
{% include('_nav.html') %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for categorie, message in messages %}
                <div class="{{ categorie }} alert" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="material-symbols-outlined">close</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% block body %}
{% endblock %}
{% include('_footer.html') %}
<div class="screen-blur" id="screen-blur"></div>
<script src="{{ url_for('static', filename='js/password-show.js')}}"></script>
<script src="{{ url_for('static', filename='js/alerts.js')}}"></script>
<script src="{{ url_for('static', filename='js/hamburger-menu.js')}}"></script>
<script src="{{ url_for('static', filename='js/searchbar.js')}}"></script>
</body>

</html>