{% extends('layout.html') %}

{% block title %}
<title>Mot de passe oublié | Gaullois</title>
{% endblock %}

{% block body %}
<main>
	<div class="main-container">
		<div class="log-container">
			<form method="post" action="/forget-password">
				<h2 class="form-title">Mot de passe oublie</h2>
				
				<label for="email">Email <span class="red-text">*</span></label>
				<input type="email" id="email" required name="email">

				<input class="validate-button" type="submit" value="Valider">
			</form>
			<a class="log-sign-link" href="/login">Page de connexion</a>
		</div>
	</div>
</main>
{% endblock %}