{% extends('layout.html') %}

{% block title %}
<title>Déconnexion | Gaullois</title>
{% endblock %}

{% block body %}
<main>
    <div class="main-container">
        <div class="log-container">
            <form method="post" action="/logout">
                <div class="account-list">
                    <h2 class="form-title">Compte</h2>
                    <p class="no-margin">{{ session['email'] }}</p>
                    {% if session['role'] == 'ROLE_client' %}
                        <div class="divider"></div>
                        <a class="link-button-white" href="/client/commande/show">Mes commandes</a>
                        <a class="link-button-white" href="/client/coordonnee/show">Mes coordonnées</a>
                    {% endif %}
                </div>
                <input class="validate-button-black" type="submit" value="Se déconnecter">
            </form>
        </div>
    </div>
</main>
{% endblock %}