{% extends('layout.html') %}

{% block title %}
<title>Déconnexion | Gaullois</title>
{% endblock %}

{% block body %}
<main>
    <div class="main-container">
        <div class="log-container">
            <form method="post" action="/logout">
                <h2 class="form-title">Déconnexion</h2>
				<p class="no-margin">{{ session['email'] }}</p>
                <input class="validate-button" type="submit" value="Se déconnecter">
            </form>
        </div>
    </div>
</main>
{% endblock %}