{% extends 'layout.html' %}

{% block title %}
<title>Modifier un type de vêtement</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Modifier un type de vêtement</h2>
    <form class="crud-input-list" method="post" action="/admin/type-vetement/edit">
        <input type="hidden" value="{{ type_vetement.id_type_vetement }}" name="id">
        <div class="crud-field">
            <label for="libelle">Libellé</label>
            <input id="libelle" name="libelle" type="text" value="{{ type_vetement.libelle_type_vetement }}" required>
        </div>
        <div class="crud-field-actions">
            <button class="validate-button-black" type="submit">Modifier</button>
            <a class="validate-button-white-outline" href="/admin/type-vetement/show" role="button">Retour</a>
        </div>
    </form>
</main>
{% endblock %}
