{% extends 'layout.html' %}

{% block title %}
<title>Modifier une marque</title>
{% endblock %}

{% block body %}
<main class="crud-container">
    <h2>Modifier une marque</h2>
    <form class="crud-input-list" method="post" action="/admin/marque/edit">
        <input type="hidden" value="{{ marque.id_marque }}" name="id">
        <div class="crud-field">
            <label for="libelle">Libellé</label>
            <input id="libelle" name="libelle" type="text" value="{{ marque.libelle_marque }}" required>
        </div>
        <div class="crud-field-actions">
            <button class="validate-button-black" type="submit">Modifier</button>
            <a class="validate-button-white-outline" href="/admin/marque/show" role="button">Retour</a>
        </div>
    </form>
</main>
{% endblock %}
